body {
    font-family: 'Oswald', sans-serif;
    background-color: #f4f7fc;
    padding: 0.5%;
}

#header {
    background-color: #fff;
    width: 200px;
    padding-left: 1%;
}

#article1 {
    width: 100px;
    padding: 1px;
    border: 2px black solid;
}

#article2 {
    width: 100px;
    padding: 1px;
    border: 2px black solid;
}

#article3 {
    width: 100px;
    padding: 1px;
    border: 2px black solid;
}

#article4 {
    width: 130px;
    padding: 1px;
    border: 2px black solid;
}

#article5 {
    width: 130px;
    padding: 1px;
    border: 2px black solid;
}

#article6 {
    width: 130px;
    padding: 1px;
    border: 2px black solid;
}